@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);
body{
    background: #F3F5FC;
}

.logo {
    margin-left: 40px;
    margin-top: 40px;
}

main{
    display: flex;
}

.container-digite {
    margin-top: 80px;
    margin-left: 240px;
    width: 708px;
}

.digiteTexto {    
    width: 680px;
    height: 288px;
    background: #F3F5FC;
    border-style: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;


}

.digiteTexto::placeholder{
    color: #0A3871;
}

.digiteTexto:focus {
    outline: none;
}

.container-digite > p {
    display: flex;
    align-items: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    
    color: #495057;
}

.container-digite > p > img {
    margin-right: 8px;
}

.btn-criptografar {
    background: #0A3871;
    color: white;

    width: 300px;
    height: 60px;
    border-radius: 24px;
    padding: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.btn-descriptografar {
    background: #D8DFE8;
    color: #0A3871;
    border: 1px  #0A3871 solid;

    width: 300px;
    height: 60px;
    border-radius: 24px;
    padding: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.container-saida {
    background: rgb(255, 255, 255);
    margin-left: 10px;
    width: 400px;
    height: 650px;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 32px;
    box-shadow: 6px 6px 6px rgb(226, 223, 223);
}

.fundo-sem-texto {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #495057;
}

.imagem-de-fundo {
    margin-top: 30px;
}

h2 {
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    text-align: center;

    color: #343A40;
}

.texto-de-fundo {

    width: 336px;
    height: 48px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
 
    text-align: center;
    
    color: #495057;
}

.copiar {
    position: fixed;
    background: #0A3871;
    color: white;

    margin-top: 550px;
    width: 300px;
    height: 60px;
    border-radius: 24px;
    padding: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

footer {
    margin-top: 100px;
    text-align: center;
}